.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #edc951;
  padding: 5px 50px;
}

.headerIcon {
  height: 40px;
}

.headerIconLogout {
  width: 24px;
}

.searchUsers {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 400px;
  color: #edc951;
  position: fixed;
  top: 70px;
  left: 25%;
}

.buttonHidden {
  appearance: none;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.nav {
  text-decoration: none;
}
